if SHIELD_S22K_LEFT

config ZMK_KEYBOARD_NAME
    default "S22K"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_S22K_LEFT || SHIELD_S22K_RIGHT

config ZMK_SPLIT
    default y

endif

# Turn on logging, and set ZMK logging to debug output
CONFIG_ZMK_USB_LOGGING=y